<ion-view title="Add a Post" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Description</ion-item>
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
            <ion-item class="item-divider">Image</ion-item>
            <label class="item item-input">
                <span class="input-label">Image...</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <div class="button-bar">
            <button id="addAPost-button52" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block">Choose image</button>
        </div>
        <a ui-sref="cricket" id="addAPost-button53" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-send">Post</a>
    </ion-content>
</ion-view>