<ion-view title="General Details" id="address">
    <ion-content overflow-scroll="true" padding="true" class="has-header"  >
        
        <form class="list">
            <ion-list>
                  <div class="item item-divider" style="background-color:white">
                   <a class="item item-icon-right" href="#">
                   <i class="icon ion-ios-home"></i>
                    Location
                   </a>
                 </div>
                 <div class="item item-divider">
                  Home
                 </div>
              

                <label class="item item-input" name="addresshome">
                   <span class="input-label">Address</span><textarea placeholder="Address"> </textarea>
                </label>
                  <div class="item item-divider" style="background-color:white;height: 50px;border-left: none;border-right: none" >
                
                 </div>
                 <div class="item item-divider" style="background-color:white">
                 <a class="item item-icon-right" href="#">
                 <i class="icon ion-ios-telephone"></i>
                    Contact Details
                   </a>
                  
                 </div>
                 <div class="item item-divider">
                  Home
                 </div>
                <label class="item item-input">
                    <input type="text" placeholder="Telephone No" ng-model="phonehome">
                </label>

                <div class="item item-divider">
                  Mobile
                 </div>
                 <label class="item item-input">
                    <input type="text" placeholder="Telephone No" ng-model="mobile">
                </label>
                

            </ion-list>
            <a id="signup-button5" class="button button-outline button-positive button-block" ui-sref="profile">ADD</a>
             <a id="signup-button5" class="button button-outline button-energized button-block" ui-sref="profile">EDIT</a>
            <a id="signup-button5" class="button button-outline button-assertive button-block" ui-sref="profile">DELETE</a>
        </form>
    </ion-content>
</ion-view>