<ion-view title="Tabs Controller" id="Admintab" >
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="Profile" icon="ion-person" href="#/adminmainprofile" >
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
       
        <ion-tab title="Search" icon="ion-search" href="#/page1/order">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Groups" icon="ion-ios-people" href="#/page1/tab2/page-group">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Event" icon="ion-wineglass" href="#/Admintab/adminEvent">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Favorite" icon="ion-star" href="#/page1/favourite">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ads" icon="ion-cash" href="#/Admintab/ushow">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>