<ion-view title="Admin -Create a group" id="page14">

    <ion-content padding="true" class="has-header">
       
        <ion-list>
            <label class="item item-input" name="gname">
                <span class="input-label">Group name</span>
                <input type="text" placeholder="name">
            </label>
            <label class="item item-input" name="gpost">
                <span class="input-label">Description</span>
                <input type="text" placeholder="about">
            </label>
            <label class="item item-select" name="selectCat">
                <span class="input-label">Select category</span>
                <select>
                    <option></option>
                    <option>Professional</option>
                    <option>Entertainment</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Image</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <button id="adminCreateAGroup-button12" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-image">Choose image</button>
        <a ui-sref="adminGroup" id="adminCreateAGroup-button17" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-checkmark-circle">Create</a>
    </ion-content>
</ion-view>