   
<ion-view title="Admin Group" id="page6">

<ion-nav-buttons side="left"  >
      <button class="button button-large ion-chevron-left " ng-click="backTogroup()" >
      </button>
      
    </ion-nav-buttons>
<ion-nav-buttons side="right" ng-show="true"  >
      <button class="button button-icon button-clear ion-compose " ng-click="createGroup()" >
      </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        


        <form class="row">
            <label class="item item-input" style="width: 300px;border-radius:7px 7px 7px 7px;"  name="searchGroup">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-icon icon ion-search" style="width: 10px" ui-sref="groupSearchDemo"></button>
        </form>



        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <ion-list>

      <table style="width:100%">
  <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"  ui-sref="cricket"> <img src="img/fUBv0EViSqzmNMRxZEkQ_cricket.png" style="height: 70px;width: 70px;min-height: 70px"><br>Cricket</a></div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/w5Gq0NztTxWrXMzABzRZ_australia.png" style="height: 70px;width: 70px;min-height: 70px"><br>Australians</a></div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/NJtTM5N9TCeXDFBtN6IJ_rugby.jpg" style="height: 70px;width: 70px;min-height: 70px"><br>Rugby</a></div>
    </td>
  </tr>


    <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/5rw2GKOjSu6XIInHz9il_doctor.jpg" style="height: 70px;width: 50px;min-height: 70px"><br>Doctors</a>
    </div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/hz2dDXCgRTSH3g4ep6Am_ingineers.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Engineers</a>
    </div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/GF1b6BcoTo678SCH8oz8_music.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Music</a></div>
    </td>
  </tr>

   <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"  ui-sref="cricket"> <img src="img/fUBv0EViSqzmNMRxZEkQ_cricket.png" style="height: 70px;width: 70px;min-height: 70px"><br>Cricket</a></div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/w5Gq0NztTxWrXMzABzRZ_australia.png" style="height: 70px;width: 70px;min-height: 70px"><br>Australians</a></div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/NJtTM5N9TCeXDFBtN6IJ_rugby.jpg" style="height: 70px;width: 70px;min-height: 70px"><br>Rugby</a></div>
    </td>
  </tr>


    <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/5rw2GKOjSu6XIInHz9il_doctor.jpg" style="height: 70px;width: 50px;min-height: 70px"><br>Doctors</a>
    </div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/hz2dDXCgRTSH3g4ep6Am_ingineers.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Engineers</a>
    </div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/GF1b6BcoTo678SCH8oz8_music.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Music</a></div>
    </td>
  </tr>

   <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"  ui-sref="cricket"> <img src="img/fUBv0EViSqzmNMRxZEkQ_cricket.png" style="height: 70px;width: 70px;min-height: 70px"><br>Cricket</a></div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/w5Gq0NztTxWrXMzABzRZ_australia.png" style="height: 70px;width: 70px;min-height: 70px"><br>Australians</a></div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/NJtTM5N9TCeXDFBtN6IJ_rugby.jpg" style="height: 70px;width: 70px;min-height: 70px"><br>Rugby</a></div>
    </td>
  </tr>


    <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/5rw2GKOjSu6XIInHz9il_doctor.jpg" style="height: 70px;width: 50px;min-height: 70px"><br>Doctors</a>
    </div>
    </td>
    <td>    <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/hz2dDXCgRTSH3g4ep6Am_ingineers.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Engineers</a>
    </div>
    </td>      
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"> <img src="img/GF1b6BcoTo678SCH8oz8_music.jpg" style="height: 70px;width: 70px;min-height: 50px"><br>Music</a></div>
    </td>
  </tr>
  
</table>


        </ion-list>
    </ion-content>
</ion-view>