<ion-view title="Buissness Card" style="background-color: #999999" id="buissnessCard">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                </div>
                <ion-list>

                 <i class="item item-thumbnail">
                <img src="img/download (3).jpg"></i>

                    <ion-item class="item-divider">Professional Details</ion-item>
                   <div class="item item-icon-left">
    <i class="icon ion-ios-person"></i>
    Software Engineer
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-navicon-round"></i>
    Pro in Java, javascript and AngularJs Progammer , basic idea about C, C#, C++
  </div>
                    <ion-item class="item-divider">Working Place</ion-item>
                     <div class="item item-icon-left">
    <i class="icon ion-home"></i>
    Millenium IT
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios-location"></i>
    12b,nugegoda
  </div>


  <a class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    0712345670
  </a>

  <div class="item item-icon-left">
    <i class="icon ion-email"></i>
    robertFernando@gmail.com
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios-time"></i>
    Normal Working Hours<br> 8.00am - 5.00pm
  </div>

  <a ui-sref="tabsController2.editProfile" id="BuissnessCarad-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block ">Edit</a>
                </ion-list>
            </div>
        </div>
    </ion-content>
     <ion-item class="item item-thumbnail" ui-sref="AdmintabsController.ufullEditShow" style="position: absolute;  bottom: 60px; right:20px;  left:10px;" align="right" ng-hide="newbit">  
    <img src="img/advertise.jpg" style="width: 250px; height: 100px"> 
  </ion-item>
</ion-view>