<ion-view title="Calendar" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    	<div class="list">

  		<div class="item item-divider">
   		 <label class="item item-input" style="background-color:#ebebe0">
    		<input type="text" value="{{eventCal.title}}" style="background-color:#ebebe0; padding:0;margin:0; text-align:center;">
  		 </label>
  		</div>

  		  <label class="item item-input">
    		<span class="input-label" style="color:#8c8c5a;">Day</span>
   		    <input type="text" value="{{eventCal.day}}">
  		 </label>

  		  <label class="item item-input">
    		<span class="input-label" style="color:#8c8c5a;"> Start Time</span>
    		<input type="text" value="{{eventCal.stime}}">
  		  </label>

  		  <label class="item item-input">
    		<span class="input-label" style="color:#8c8c5a;"> End Time</span>
    		<input type="text" value="{{eventCal.etime}}">
  		  </label>

  		  <label class="item item-input">
    		<span class="input-label" style="color:#8c8c5a;">Location</span>
   		    <input type="text" value="{{eventCal.location}}">
  		 </label>

  		  <label class="item item-input">
    		<span class="input-label" style="color:#8c8c5a;">Description</span>
    		<input type="text" value="{{eventCal.description}}">
  		  </label>

  		  <button class="button button-block button-positive" ui-sref="calendar">
  			Save Changes
		 </button>

		</div>

</ion-content>
</ion-view>