<ion-view title="Cricket Post" hide-back-button="true" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="cricket" id="cricketPost-button46" style="border-radius:32px 32px 32px 32px;" class="button button-positive  button-block icon ion-chevron-left">Back</a>
            <button id="cricketPost-button47" class="button button-positive  button-block button-icon">2</button>
            <a ui-sref="addAPost" id="cricketPost-button48" style="border-radius:32px 32px 32px 32px;" class="button button-positive  button-block icon ion-android-add"></a>
        </div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/LnW0Jz2wSS4K8jRhyiSM_boy1.png">
                        <h2>Sam Peter</h2>
                        <p style="white-space:normal;">2 hrs</p>
                    </ion-item>
                </ion-list>
                <div>
                    <a style="display:block;" ui-sref="selectedPost">
                        <img src="img/BRnXi0nSWCyn94T2KKb2_cricket-event.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </a>
                </div>
                <div id="cricketPost-markdown2" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="selectedPost" id="cricketPost-button2" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block">comments</a>
                    <button id="cricketPost-button3" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block icon ion-android-add">3</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/IvmKJWuQTC00ZS3ouulM_boy2.png">
                        <h2>Perera</h2>
                        <p style="white-space:normal;">2 hrs</p>
                    </ion-item>
                </ion-list>
                <div>
                    <img src="img/7DB96bZSYqg8OsoCmDeA_brain.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown3" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <div class="button-bar">
                    <button id="cricketPost-button4" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block">comments</button>
                    <button id="cricketPost-button5" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block icon ion-android-add">3</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/HY74Dhi8ROGUsfBfB7du_boy3.png">
                        <h2>Bandara</h2>
                        <p style="white-space:normal;">2 hrs</p>
                    </ion-item>
                </ion-list>
                <div>
                    <img src="img/wznubbapQ8il86X2qZMA_download (3).jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown4" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <div class="button-bar">
                    <button id="cricketPost-button6" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block">comments</button>
                    <button id="cricketPost-button7" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block icon ion-android-add">3</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/3g5DZgWLT1iQqGyNHxxM_boy4.png">
                        <h2>Nihal</h2>
                        <p style="white-space:normal;">3 hrs</p>
                    </ion-item>
                </ion-list>
                <div>
                    <img src="img/BRnXi0nSWCyn94T2KKb2_cricket-event.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown5" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <div class="button-bar">
                    <button id="cricketPost-button8" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block">comments</button>
                    <button id="cricketPost-button9" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block icon ion-android-add">3</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/EzE6cJPHS7lioy0qJVDg_boy2.png">
                        <h2>Teri</h2>
                        <p style="white-space:normal;">2 days</p>
                    </ion-item>
                </ion-list>
                <div>
                    <img src="img/TIFJF79bR2K4HHmAHq5V_brain.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown6" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <div class="button-bar">
                    <button id="cricketPost-button10" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block">comments</button>
                    <button id="cricketPost-button11" style="border-radius:47px 47px 47px 47px;" class="button button-positive  button-block icon ion-android-add">3</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>