<ion-view title="Samith" id="messages" style="background-color:#EEEEF1;" >

<ion-nav-buttons side="right"  >
      <button class="button button-large ion-android-more-vertical " ng-click="createEvent()" >
      </button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header" style="background-img:url("img\blue1.jpg") "> 
    <div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Add to conference">
    </label>
    <a class="button button-icon icon ion-person-add">
     
    </a>
  </div>

</div> 
</ion-content>

<div class="list"  style="position: absolute;  bottom: 30px; right:0px; width: 100% text-align: right;" align="right" ng-hide="newbit">

    <a class="item item-avatar" href="#" style="background-color: #c2c2d6; color:black;" >
      
      <h2>Marley </h2>
      <p>Hey man how are u?</p>
    </a>
  </div>


<div class="bar bar-footer">


  <div class="title" >  
  	<label class="item item-input">
    <input type="text">
  
  <button class="button button-clear button-royal" ng-click="addMsg()" >SEND</button>
  </label>
  </div>

</div>


<!--<div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
          <input type="text">
        </div>
    </div>-->

</ion-view>