<ion-view title="General Details" id="family">
    <ion-content overflow-scroll="true" padding="true" class="has-header"  >
        
        <form class="list">
            <ion-list>
                  <div class="item item-divider" style="background-color:white">
                   <a class="item item-icon-right" href="#">
                   <i class="icon ion-ios-home"></i>
                   Family Details
                   </a>
                 </div>
                 <div class="item item-divider">
                  Spouse
                 </div>
              

                <label class="item item-input" name="addresshome">
                   <span class="input-label">Name</span><textarea > </textarea>
                </label>
                 <div class="item item-divider" style="background-color:white;height: 50px;border-left: none;border-right: none" >
                
                 </div>
                 <div class="item item-divider" style="background-color:white">
                 <a class="item item-icon-right" href="#">
                 <i class="icon ion-android-happy"></i>
                    Children Details
                   </a>
                  
                 </div>
                
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="phonehome">
                </label>

                  
                   <ul class="list">

                     <li class="item item-toggle">
                       Royalist
                          <label class="toggle toggle-positive">
                          <input type="checkbox">
                              <div class="track">
                              <div class="handle"></div>
                              </div>
                           </label>
                    </li>
                 
                     <label class="item item-input">
                     Date of Birth
                      </label>
                     <label class="item item-input">
                    <input type="date" placeholder="Name" >
                </label>
                    </ul>
                  

            </ion-list>

            <a id="signup-button5" class="button button-outline button-positive button-block" ui-sref="profile">ADD</a>
             <a id="signup-button5" class="button button-outline button-energized button-block" ui-sref="profile">EDIT</a>
            <a id="signup-button5" class="button button-outline button-assertive button-block" ui-sref="profile">DELETE</a>
        </form>
    </ion-content>
</ion-view>