<ion-view title="General Details" id="family">
    <ion-content overflow-scroll="true" padding="true" class="has-header"  >
        
        <form class="list">
            <ion-list>
                  <div class="item item-divider" style="background-color:white">
                   <a class="item item-icon-right" href="#">
                   <i class="icon ion-ios-home"></i>
                   Family Details
                   </a>
                 </div>
                 <div class="item item-divider">
                  Spouse
                 </div>
              

                <label class="item item-input" name="addresshome">
                   <span class="input-label">Name</span><textarea placeholder="Address"> </textarea>
                </label>
                  <div class="item item-divider" style="background-color:white;height: 50px;border-left: none;border-right: none" >
                
                 </div>
                 <div class="item item-divider" style="background-color:white">
                 <a class="item item-icon-right" href="#">
                 <i class="icon ion-ios-telephone"></i>
                    Children Details
                   </a>
                  
                 </div>
                 <div class="item item-divider">
                  Office
                 </div>
                <label class="item item-input">
                    <input type="text" placeholder="Telephone No" ng-model="phonehome">
                </label>

                <div class="item item-divider">
                  Mobile
                 </div>
                 <label class="item item-input">
                    <input type="text" placeholder="Telephone No" ng-model="mobile">
                </label>

            </ion-list>

            <a id="signup-button5" class="button button-stable  button-block"  style="background-color: #000080;color: white" ui-sref="profile">ADD</a>
        </form>
    </ion-content>
</ion-view>