

  <ion-view title="Favourite  Contacts " id="favourite">
    <ion-content padding="true" class="has-header">
      <form class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search name">
        </label>
        <ion-item class="item-divider"></ion-item>
 <ion-item class="item-thumbnail-left" ui-sref="tabscontroller.viewfavourite" ng-repeat="fav in favourite">

        <ion-item class="item-thumbnail-left" ui-sref="viewfavourite">
          <img src="img/boy1.png">
          <h2>{{fav.name}}</h2>
          <p></p>
        </ion-item>
        <ion-item class="item-thumbnail-left">
          <img src="img/boy3.png">
          <h2>Amal Ranasinghe</h2>
          <p></p>
        </ion-item>
        <ion-item class="item-thumbnail-left">
          <img src="img/boy1.png">
          <h2>Dinesh Kumar</h2>
          <p></p>
        </ion-item>
      </form>
    </ion-content>
  </ion-view>


