<ion-view title="Follow a group" id="page15">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/42XUz96SjSFGiQjoKJcw_cricket.png" width="100%" height="90" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="followAGroup-heading3" style="color:#000000;text-align:center;">Cricket</h1>
        <div id="followAGroup-markdown11" style="color:#000000;text-align:center;">
            <p>This group is for cricket fans in royal collage</p>
        </div>
        <button id="followAGroup-button54" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-people">Members</button>
        <a ui-sref="group" id="followAGroup-button55" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-person-add">Follow</a>
        <div class="list card">
            <div class="item item-divider">Members</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/E4gxFV5S8WDyYmX7UF7d_boy1.png">
                        <h2>Sam</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/im5Mja1XQ5GBAxHIYfai_hz2dDXCgRTSH3g4ep6Am_ingineers.jpg">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/05G0H4lERAKd5cRPzFWc_boy3.png">
                        <h2>Paul</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/ZhZjIRxPT86ksFuem4t5_hz2dDXCgRTSH3g4ep6Am_ingineers.jpg">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/TuiqVSTNSZymnz92aJzc_boy2.png">
                        <h2>Nihal</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>