 
<ion-view title="Group" id="page6">

<ion-nav-buttons side="left"  >
      <button class="button button-large ion-chevron-left " ng-click="backTogroup()" >
      </button>
      
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        


        <form class="row">
            <label class="item item-input" style="width: 300px;border-radius:7px 7px 7px 7px;"  name="searchGroup">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-icon icon ion-search" style="width: 10px" ui-sref="followAGroup"></button>
        </form>



        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <ion-list>

      <table style="width:100%">
  <tr>
    <td>   <div class="coll" style="padding-left:3px; margin:1px; font-size:12px;"><a class="button button-icon icon" style="font-size:12px; color: #004d4d;"  ui-sref="football"> <img src="img/football.jpg" style="height: 70px;width: 70px;min-height: 70px"><br>Football</a></div>
    </td>
    
  </tr>
  
</table>


        </ion-list>
    </ion-content>
</ion-view> 