<ion-view title="Group" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="cricket">
                <img src="img/fUBv0EViSqzmNMRxZEkQ_cricket.png">
                <h2>Cricket</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/w5Gq0NztTxWrXMzABzRZ_australia.png">
                <h2>Australians</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/NJtTM5N9TCeXDFBtN6IJ_rugby.jpg">
                <h2>Rugby</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/5rw2GKOjSu6XIInHz9il_doctor.jpg">
                <h2>Doctors</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/hz2dDXCgRTSH3g4ep6Am_ingineers.jpg">
                <h2>Engineers</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/GF1b6BcoTo678SCH8oz8_music.jpg">
                <h2>Music</h2>
                <p style="white-space:normal;"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>