<ion-view title="My Dashboard" hide-back-button="true" id="grouppost" >
<ion-nav-buttons side="left" ng-show="true"  >
      <button class="button button-icon button-clear ion-calendar " ng-click="addCalendar()" > </button>
 </ion-nav-buttons>
<ion-nav-buttons side="right" ng-show="true"  >
     
       <button class="button button-icon button-clear ion-email" ng-click="addMsg()"  style="padding-right:5px;">
      </button>
       <button class="button button-icon button-clear ion-android-notifications-none " ng-click="addNotif()" >
      </button>
    </ion-nav-buttons>


   
    <ion-content padding="true" class="cards-bg has-header">
       
         <div class="item item-input-inset">
          <label class="item-input-wrapper">
          <input type="text" placeholder="Say something">
          </label>
        <button class="button button-small icon ion-images"></button>
        <button class="button button-small icon " ng-click="addnew()">POST</button>

     
    </a>
  </div>
 
        <div class="list card" ng-show="postbit">
            <div class="item item-body">
                <ion-list>
                    <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/ben.png">
                    <h2>Tharinda Perera</h2>
                    <p>2 sec ago</p>
                  </div>
                </ion-list>
                <div>
                    <a style="display:block;" ui-sref="selectedGroupPost">
                        <img src="img/Beach_Party .jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </a>
                </div>
                <div id="cricketPost-markdown2" style="color:#0E0101;text-align:justify;">
                    <p> Hey group</p>
                </div>
                <div class="item">
                   
                    <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">12 Likes</button>
                       <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">4 Comments</button></a>
                    
                    <ion-note item-right style="color: #C0C0C0 ">
                      11h ago
                    </ion-note>
 </div>
               
            </div>
        </div>



        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                  </div>
                </ion-list>
                <div>
                    <a style="display:block;" ui-sref="selectedGroupPost">
                        <img src="img/Beach_Party .jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </a>
                </div>
                <div id="cricketPost-markdown2" style="color:#0E0101;text-align:justify;">
                    <p>There is a beach party for our batch in this year.</p>
                </div>
                <div class="item">
                   
                    <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">12 Likes</button>
                       <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">4 Comments</button></a>
                    
                    <ion-note item-right style="color: #C0C0C0 ">
                      11h ago
                    </ion-note>
 </div>
               
            </div>
        </div>





        <div class="list card">
            <div class="item item-body">
                <ion-list>
                  <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                  </div>
                                </ion-list>
                <div>
                    <img src="img/7DB96bZSYqg8OsoCmDeA_brain.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown3" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
               <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">15 Likes</button>
                   <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">5 Comments</button></a>
                
                <ion-note item-right style="color: #C0C0C0 ">
                  15h ago
                </ion-note>
            </div>
        </div>



        <div class="list card">
            <div class="item item-body">
                <ion-list>
                  <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                  </div>
                </ion-list>
                <div>
                    <img src="img/wznubbapQ8il86X2qZMA_download (3).jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown4" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
               <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">7 Likes</button>
                   <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">4 Comments</button></a>
                
                <ion-note item-right style="color: #C0C0C0 ">
                  18h ago
                </ion-note>
            </div>
        </div>



        <div class="list card">
            <div class="item item-body">
                <ion-list>
                   <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                  </div>
                </ion-list>
                <div>
                    <img src="img/BRnXi0nSWCyn94T2KKb2_cricket-event.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown5" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">12 Likes</button>
                   <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">4 Comments</button></a>
                
                <ion-note item-right style="color: #C0C0C0 ">
                  19h ago
                </ion-note>
            </div>
        </div>




        <div class="list card">
            <div class="item item-body">
                <ion-list>
                   <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                  </div>
                </ion-list>
                <div>
                    <img src="img/TIFJF79bR2K4HHmAHq5V_brain.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="cricketPost-markdown6" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <button id="cricketPost-button3" class="ion-icon ion-thumbsup button-primary button-clear item-left" style="color: #3366ff">12 Likes</button>
                   <a ui-sref="selectedPost" id="cricketPost-button2" > <button class="ion-icon ion-ios-compose button-primary button-clear item-left" style="color: #3366ff">4 Comments</button></a>
                
                <ion-note item-right style="color: #C0C0C0 ">
                  20h ago
                </ion-note>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
  .has-header ion-col {
    padding: 10;
  }
</style>