<ion-view title="Profile" id="mainprofile">
  <ion-nav-buttons side="right" ng-show="true">
    <button class="button button-icon button-clear ion-compose" ui-sref="tabsController2.showAdvertiesement">
    </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/boy1.png">
                <h2>Saman Perera</h2>
                <p>saman@gmail.com</p>
                <p>class</p>
            </ion-item>
      
              <div class="item item-divider">
              
              </div>
              
     

        
           <a class="item item-icon-left item-icon-right" href="#/page6">
                  <i class="icon ion-person"></i>
                 My Profile

                   <i class="icon ion-arrow-right-b"></i>
            </a>
               <div class="item item-divider">
                   
                   </div>
              <a class="item item-icon-left item-icon-right" href="#/timeline">
                   <i class="icon ion-ios-clock"></i>
                   Timeline
                    <i class="icon ion-arrow-right-b"></i>

               </a>
                   <div class="item item-divider">
                   
                   </div>
                    <a class="item item-icon-left item-icon-right" href="#/request">
                   <i class="icon ion-pull-request"></i>
                   Member Requests
                    <i class="icon ion-arrow-right-b"></i>

                  </a>
          
            <div class="item item-divider">
              
              </div>
        
         

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
               Groups
               <i class="icon ion-arrow-right-b"></i>
            </a>

        
        </ion-list>
     </ion-content>
</ion-view>