<ion-view title="Profile" id="mainprofile">
  <ion-nav-buttons side="right" ng-show="true">
    <button class="button button-icon button-clear ion-ios-world-outline" ui-sref="tabsController2.about2">
    </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/boy1.png">
                <h2>{{n}}</h2>
                <p>saman@gmail.com</p>
                <p>class</p>
            </ion-item>
      
              <div class="item item-divider">
              
              </div>
              
     

        
           <a class="item item-icon-left item-icon-right" href="#/page6">
                  <i class="icon ion-person"></i>
                 My Profile

                   <i class="icon ion-arrow-right-b"></i>
            </a>
               <div class="item item-divider">
                   
                   </div>
              <a class="item item-icon-left item-icon-right" href="#/timeline">
                   <i class="icon ion-ios-clock"></i>
                   Timeline
                    <i class="icon ion-arrow-right-b"></i>

               </a >
                   <div class="item item-divider" ng-show={{rep}}>
                   
                   </div>
                    <a class="item item-icon-left item-icon-right" href="#/request"  ng-show={{rep}}>
                   <i class="icon ion-pull-request"></i>
                   Member Requests
                    <i class="icon ion-arrow-right-b"></i>

                  </a>
                  <div class="item item-divider" ng-show={{admin}}>
                   
                   </div>
                   <a class="item item-icon-left item-icon-right" href="#/request1"  ng-show={{admin}}>
                   <i class="icon ion-pull-request"></i>
                   Member Requests
                    <i class="icon ion-arrow-right-b"></i>

                  </a>


          
            <div class="item item-divider">
              
              </div>
        
         

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
               Groups
               <i class="icon ion-arrow-right-b"></i>
            </a>

        
        </ion-list>
     </ion-content>
      <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
      
      <ion-slide-box ng-click="change()" does-continue="true" auto-play="true">
    
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" >
         <img src ="img/ad3.png" width="382px" height="70px" style="padding:0; margin:0"></a>
      </ion-slide>
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad2.png" width="382px" height="70px" style="padding:0; margin:0">
        </a>
      </ion-slide>
     <ion-slide>
       <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad1.png" width="382px" height="70px" style="padding:0; margin:0"></a>
     </ion-slide>
    
    

  </div>
</ion-view>