<ion-view title="Page" id="search">
    <ion-content padding="true" class="has-header">
        <form class="list">
          <div class="item item-divider">
            Search
          </div>
            <label class="item item-input" name="Search1">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search name">
            </label>
            <label class="item item-input" name="Search1">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Class ">
            </label>
            <div class="item item-divider">
                   Advanced Search
            </div>


            <label class="item item-input" name="ASearchP">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Profession">
            </label>
            <label class="item item-input" name="ASearchC">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Country ">
            </label>

            <label class="item item-select">
                <span class="input-label">Sub Group</span>
                <select>
                    <option>Select One</option>
                    <option>Accedemics</option>
                    <option>Lawyers</option>
                    <option>Engineers</option>

                </select>
            </label>




        <a id="page-button4" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block" ui-sref="searchResult">Search</a>
        </form>
    </ion-content>
</ion-view>
