<ion-view title="My Profile" id="page6">
   <ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon button-clear ion-arrow-left-b" ui-sref="tabsController.mainprofile">
    Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/boy1.png">
                <h2>Saman Perera</h2>
                <p>saman@gmail.com</p>
            </ion-item>
        
              <div class="item item-divider">
              Personal Details
              </div>
              <a class="item item-icon-left" href="#/address">
                  <i class="icon ion-ios-location-outline"></i>
                 Address
                <span class="item-note">
                    No 1,park road,colombo 07
                </span>
              </a>
               <a class="item item-icon-left" href="#/address">
                  <i class="icon ion-ios-telephone"></i>
                 Telephone
                <span class="item-note">
                   0712222222
                </span>
              </a>
             <div class="item item-input-inset">
                 <label class="item-input-wrapper">
                 <input type="text" placeholder="Nickname">pina
                 </label>
              <a class="button icon-right button-small button-positive" >EDIT</a>
             </div>
             

        
        
                   <div class="item item-divider">
                    Family
                   </div>
                   <a class="item item-icon-left" href="#/family">
                  <i class="icon ion-woman"></i>
                    Spouse
                  

                  
                 </a>
                <a class="item item-icon-left item-icon-right" href="#/family">
                  <i class="icon ion-android-happy"></i>
                     Children
                    <span class="badge badge-assertive">0</span>
                    
                  
                 </a>
                   <div class="item item-divider">
              Official 
              </div>
           <a class="item item-icon-left" href="#/businesscard">
                  <i class="icon ion-briefcase"></i>
                 Businesscard
                <span class="item-note">
                   
                </span>
            </a>
          
                  <a id="signup-button5" class="button button-stable  button-block" ng-click=show() style="background-color: white"></a>
            
       
        
        </ion-list>
     </ion-content>
</ion-view>