<ion-view title="My Profile" id="request1">
   <ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon button-clear ion-arrow-left-b" ui-sref="tabsController.mainprofile">
    Back</button>
    </ion-nav-buttons>
   
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">

                <img src="img/boy1.png">
                <h2>Saman Perera</h2>
                <p>class</p>
                <button class="button button-small button-positive" disabled>
                 Pending
                </button>
                 <button class="button button-small button-assertive" style="width: 60px;margin-left: 2px">
                 Reject
                </button>
            </ion-item>
             <ion-item class="item-thumbnail-left">

                <img src="img/boy3.png">
                <h2>kamal peiris</h2>
                <p>class</p>
                <button class="button button-small button-balanced" disabled>
                 Approved
                </button>
                 <button class="button button-small button-assertive" style="width: 60px;margin-left: 2px">
                 Reject
                </button>
            </ion-item>
      
            
        
        </ion-list>
     </ion-content>
</ion-view>