<ion-view title="My Advertiesements" id="page4" style="background-color:#d9d9d9;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder=" Search By Title">
            </label>
              <ion-item class="item item-avatar" ui-sref="tabsController2.fullEditAdvertiesement">
                <img src="img/images (3).jpg">
                <h2>Centre clears \u20b9723 cr for drought-hit Karnataka </h2>
                <p>The Home Ministry on Friday cleared a \u20b9723 crore financial assistance package for drought-hit ...</p>
            </ion-item>
            <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>Haryana seeks help to improve sex ratio to 950 </h2>
                <p>Haryana CM Manohar Lal Khattar has sought \u201ccoordinated efforts\u201d among neighbouring states to ...</p>
            </ion-item>
            <ion-item class="item item-avatar">
               <img src="img/images (3).jpg">
                <h2>Guard teaches poor children outside ATM everyday </h2>
                <p>ATM Security guard Bijender has been teaching poor children in Dehradun every evening for the past ...</p>
            </ion-item>
            <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>171 nations sign historic climate deal at UN </h2>
                <p>At least 171 nations, including India, on Friday signed the Paris climate agreement at the UN ...</p>
            </ion-item>
            <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>Volkswagen takes $18 bn hit on emissions scandal </h2>
                <p>German carmaker Volkswagen said on Friday that the company is to take a \u20ac16.2 billion ($18.2 ...</p>
            </ion-item>
             <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>Nil Battey Sannata made tax free in Delhi and UP</h2>
                <p>The Swara Bhaskar and Riya Shukla starrer 'Nil Battey Sannata' has been declared tax free in Delhi ...</p>
            </ion-item>
              <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>Three US Army vehicles destroyed during airdrop </h2>
                <p>Three US Army vehicles costing as much as $220,000 each, were destroyed during an airdrop as the ...</p>
            </ion-item>
              <ion-item class="item item-avatar">
                <img src="img/images (3).jpg">
                <h2>Scientists find AI-based method to curb poaching </h2>
                <p>Researchers in the US, Singapore, Netherlands and Malaysia have found a method to use Artificial ...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>