<ion-view title="Profile" id="searchResult">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/boy1.png">
                <h2>Saman Perera</h2>
                <p>saman@gmail.com</p>
                   <p>Class M4</p>
               <div class="row"><i class="ion-person-add"></i><p>Follow</p></div>
            </ion-item>

              <div class="item item-divider">
              Genaral Details
              </div>
              <a class="item item-icon-left" href="">
                  <i class="icon ion-ios-location-outline"></i>
                 Address
                <span class="item-note">
                   colombo 
                </span>
              </a>
               <a class="item item-icon-left" href="">
                  <i class="icon ion-ios-telephone"></i>
                 Telephone
                <span class="item-note">
                   0712222222
                </span>
              </a>
          


          <div class="item item-divider">
              Official
              </div>
           <a class="item item-icon-left" href="">
                  <i class="icon ion-briefcase"></i>
                  Occupation
                <span class="item-note">
                     Doctor
                </span>
            </a>

              <a class="item item-icon-left" href="">
                   <i class="icon ion-location"></i>
                   location
                    <span class="item-note">
                     Nawaloka Hospital
                </span>

               </a>
                   <div class="item item-divider">
                    Family
                   </div>
                   <a class="item item-icon-left" href="">
                  <i class="icon ion-woman"></i>
                    Spouse

                       <span class="item-note">
                     Namali
                </span>


                 </a>
                <a class="item item-icon-left item-icon-right" href="">
                  <i class="icon ion-ios-body"></i>
                     Children
                    <span class="badge badge-assertive">1</span>


                 </a>
                 <a class="item item-icon-left item-icon-right" href="#/businessCard">
                  <i class="icon ion-briefcase"></i>
                 Businesscard
                <span class="item-note">
                     <i class="icon ion-arrow-right-b"></i>
                </span>
               </a>
          
                  <a id="signup-button5" class="button button-stable  button-block" ng-click=show() style="background-color: white"></a>



        </ion-list>
     </ion-content>
</ion-view>
