<ion-view title="Selected Post" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/LnW0Jz2wSS4K8jRhyiSM_boy1.png">
                        <h2>Sam Peter</h2>
                        <p style="white-space:normal;">2 hrs</p>
                    </ion-item>
                </ion-list>
                <div>
                    <img src="img/BRnXi0nSWCyn94T2KKb2_cricket-event.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="selectedPost-markdown7" style="color:#0E0101;text-align:justify;">
                    <p>This is the banner for our cricket tournerment design by paul.He is a graphic designer.So he want to know is this satisfiy our requirments.</p>
                </div>
                <button id="selectedPost-button29" style="font-size:21px;text-align:right;border-radius:13px 13px 13px 13px;" class="button button-positive button-small button-clear"></button>
                <button id="selectedPost-button31" style="font-size:21px;text-align:right;border-radius:13px 13px 13px 13px;" class="button button-positive button-small icon-left ion-android-add">3</button>
                <button id="selectedPost-button22" style="font-size:21px;text-align:right;border-radius:13px 13px 13px 13px;" class="button button-positive button-small icon-left ion-android-add">12 comments</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Comments</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/ZkVgGracQROJWJljbptq_boy1.png">
                        <h2>Peter</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/PIh4rbARhqfqhZAtBUoQ_boy1.png">
                        <h2>Sam</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/EUS0JmqoTKOYmRcySs5W_boy3.png">
                        <h2>Paul</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/UUyYrGc4Q22a3AywUqQN_music.jpg">
                        <h2>Peter</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/cw4TV27R5GTdWqPpsLUw_boy2.png">
                        <h2>Paul</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <form class="list">
            <label class="item item-input" name="chat">
                <span class="input-label">Type here</span>
                <input type="text" placeholder="">
            </label>
            <div class="button-bar">
                <button id="selectedPost-button42" style="border-radius:9px 9px 9px 9px;" class="button button-positive  button-block icon ion-arrow-up-a"></button>
                <button id="selectedPost-button43" class="button button-positive  button-block button-icon">2</button>
                <button id="selectedPost-button44" style="border-radius:9px 9px 9px 9px;" class="button button-positive  button-block icon ion-android-send"></button>
            </div>
        </form>
    </ion-content>
</ion-view>