<ion-view title="Settings" id="page17">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Unfollow</ion-toggle>
        </form>
        <ion-list>
            <ion-item>About</ion-item>
            <label class="item item-input" name="gabout">
                <input type="text" placeholder="This group for cricket fans in royal collage">
            </label>
        </ion-list>
        <div class="button-bar">
            <button id="settings-button19" class="button button-positive  button-block button-icon">1</button>
            <button id="settings-button20" class="button button-positive  button-block button-icon">2</button>
            <button id="settings-button21" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-checkmark-circle"></button>
        </div>
        <ion-list>
            <ion-item>Members</ion-item>
        </ion-list>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/HH0nm2ZOQTeMzsep1j1C_hz2dDXCgRTSH3g4ep6Am_ingineers.jpg">
                        <h2>Sam</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/bgcHRKzFRIyly4qlg3PE_hz2dDXCgRTSH3g4ep6Am_ingineers.jpg">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/05G0H4lERAKd5cRPzFWc_boy3.png">
                        <h2>Paul</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/81IM2QOBTTsRa7wKnNVg_EF1IQixST8G4hFddrbKZ_boy1.png">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/EDrUJ3WTZeNNHe3Cyg5Q_NJtTM5N9TCeXDFBtN6IJ_rugby.jpg">
                        <h2>Nihal</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="button-bar">
            <button id="settings-button23" class="button button-positive  button-block button-icon">1</button>
            <button id="settings-button24" class="button button-positive  button-block button-icon">2</button>
            <button id="settings-button25" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-person-add"></button>
        </div>
        <div class="button-bar">
            <button id="settings-button28" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-contacts">Members</button>
            <button id="settings-button30" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-person-add">Favourite</button>
        </div>
        <div class="list card">
            <div class="item item-divider">Members</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/E4gxFV5S8WDyYmX7UF7d_boy1.png">
                        <h2>Sam</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/1aOy0g1rRJW70V5c2mLK_boy4.png">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/05G0H4lERAKd5cRPzFWc_boy3.png">
                        <h2>Paul</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/1aOy0g1rRJW70V5c2mLK_boy4.png">
                        <h2>Peter</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/TuiqVSTNSZymnz92aJzc_boy2.png">
                        <h2>Nihal</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>