<ion-view title="Signup" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header"  >
        <form class="list signuplist">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Class" ng-model="class">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="password">
                </label>

            </ion-list>

            <a id="signup-button5" class="button button-stable  button-block" ng-click="signup()" style="background-color: #000080;color: white">Sign up</a>
        </form>
    </ion-content>
</ion-view>