<ion-view title="Signup" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header"  >
        <form class="list signuplist">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="name">
                </label>
                <div class="list">

                 <label class="item item-input item-select" >
                     <div class="input-label">
                      Class
                      </div>
                     <select ng-model="class">
                     <option>13A</option>
                     <option>13B</option>
                     <option>13C</option>
                     </select>
                     </label>

                </div>

                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="email">
                </label>
                 <div class="list">

                
                     <div class="item item-divider">
                      Group
                      </div>
                    <ion-list>

                         <ion-checkbox ng-model="filter.blue">Doctors</ion-checkbox>
                         <ion-checkbox ng-model="filter.yellow">Cricket Fans</ion-checkbox>
                         <ion-checkbox ng-model="filter.pink">Engineers</ion-checkbox>

                     </ion-list>

                   


                </div>

            </ion-list>

            <a id="signup-button5" class="button button-stable  button-block" ng-click="signup(name,class,email)" style="background-color: #000080;color: white">Sign up</a>
        </form>
    </ion-content>
</ion-view>