<ion-view title="Tabs Controller" id="tabsController2">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Home" icon="ion-android-home" href="#/tabsController2/tab1/ShowAddvertiesement">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Member" icon="ion-android-person-add" href="#/tabsController2/About">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="MyAdds" icon="ion-search" href="#/tabsController2/SearchAdvertiesement">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Post" icon="ion-android-add-circle" href="#/tabsController2/PostAdvertiesement">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Card" icon="ion-card" href="#/tabsController2/BuissnessCard">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>