<ion-view title="About ME" id="about" style="background-color:#cce6ff;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-divider">Personal Details</ion-item>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Name You Want to Show in Your Buissness Card">
            </label>
            <label class="item item-input">
                <span class="input-label">Adress</span>
                <input type="email" placeholder="Email You Want to Show in Your Buissness Card">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact No</span>
                <input type="tel" placeholder="Contact You Want to Show in Your Buissness Card">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email You Want to Show in Your Buissness Card">
            </label>
            <a ui-sref="tabsController2.about2" id="About-button1" style="font-weight:600;font-size:-2px;" class="button button-royal  button-block ">Submit</a>
            
            <div class="card">
            <div class="item item-text-wrap">
            To Upgrade your Buissness Card Proceed <span>with further registration</span>
            </div>
            </div>
            <a ui-sref="tabsController2_1.uabout2" id="About-button1" style="font-weight:800;font-size:-2px;" class="button button-calm  button-stable icon ion-arrow-right-c">   Next</a>
        </form>
    </ion-content>
</ion-view>