<ion-view title="View-Edit" id="ufullEditShow">
<ion-content padding="true" class="has-header">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/images (3).jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/dominos_pizza2.jpg">
    <p>
     Founded in 1960, Domino's is the recognized world leader in pizza delivery operating a network of company-owned and franchise-owned stores in the United States and international markets. Domino's is a company of exceptional people on a mission to be the best pizza delivery company in the world. To learn more about Domino's, please use the links below or select from the "About Domino's" drop-down menu near the top of the page.{{ID}}
    </p>
    <a ui-sref="AdmintabsController.uedit" id="fullEditAdvertiesement-button2" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block ">Edit</a>
    <a ui-sref="tabsController2.editButtonPage" id="fullEditAdvertiesement-button2" style="font-weight:600;font-size:-2px;" class="button button-assertive  button-block ">Delete</a>
  </div>

</div>
</ion-content>
                <ion-item class="item item-thumbnail" ui-sref="AdmintabsController.ufullEditShow" style="position: absolute;  bottom: 10px; right:20px;  left:10px;" align="right" ng-hide="newbit">  
    <img src="img/advertise.jpg" style="width: 300px; height: 50px"> 
  </ion-item>
</ion-view>