<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <ion-view title="Profile" id="viewfavourite">
    <ion-nav-buttons side="left" ng-show="true">
      <button class="button button-icon button-clear ion-arrow-left-b" ui-sref="tabsController.mainprofile">
        Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-list>
        <ion-item class="item-thumbnail-left">
          <img src="img/boy1.png">
          <h2>Saman Perera</h2>
          <p>saman@gmail.com</p>
                <div class="row"><i class="ion ion-person"></i><p>Unfollow</p></div>
        </ion-item>

        <div class="item item-divider">
          Genaral Details
        </div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-location-outline"></i>
          Address
                <span class="item-note">
                    No 1,Park Road,Colombo 07
                </span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-telephone"></i>
          Contact Details
                <span class="item-note">
                   0712222222
                </span>
        </a>
         <a class="item item-icon-left" href="#">
          <i class="icon ion-happy-outline"></i>
                   Nickname
                <span class="item-note">
                   pina
                </span>
        </a>
       
            <div class="item item-divider">
              Timeline
              </div>
            <div class="item item-body">
   
             <p>
              Relaxing sunday...
             </p>
             <img class="full-image" src="img/sunday1.jpg">

            </div>
      


      </ion-list>
    </ion-content>
  </ion-view>




</head>
<body>

</body>
</html>
