/* Empty. Add your own CSS if you like */
.check
{

	background-color: #00091a;
}
.check
{

	background-color: #00091a;
}
.signuplist
{



	margin-top:100px;
	
}
.familylist
{
background-color:white;
height: 50px;border-left: none;
border-right: none;

}
.divivernormal
{
background-color:white;
}

/*.pane{
background:url('../img/roy.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}*/