<ion-view title="Cart" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/ldaYK5wTq6GjoEcXZfvg_pizza.jpg">
                <h2>Name Of the Pizza</h2>
                <p>has sausage and cheese</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/ldaYK5wTq6GjoEcXZfvg_pizza.jpg">
                <h2>Name Of the Pizza</h2>
                <p>has sausage and cheese</p>
            </ion-item>
        </ion-list>
        <button id="cart-button2" style="font-weight:;" class="button button-assertive  button-block icon ion-cash">Check Out</button>
    </ion-content>
</ion-view>