<ion-view title="Cricket" id="page12">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/42XUz96SjSFGiQjoKJcw_cricket.png" width="100%" height="90" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="cricket-heading1" style="color:#000000;text-align:center;">Cricket</h1>
        <div id="cricket-markdown10" style="color:#000000;text-align:center;">
            <p>This group is for cricket fans in royal collage</p>
        </div>
        <div class="button-bar">
            <button id="cricket-button33" style="border-radius:23px 23px 23px 23px;" class="button button-positive  button-block icon-left ion-android-chat">Chat</button>
            <a ui-sref="cricketPost" id="cricket-button34" style="border-radius:23px 23px 23px 23px;" class="button button-positive  button-block icon-left ion-clipboard">Post</a>
            <a ui-sref="settings" id="cricket-button49" style="border-radius:23px 23px 23px 23px;" class="button button-positive  button-block icon ion-ios-more"></a>
        </div>
        <h4 id="cricket-heading4" style="color:#000000;">Chat</h4>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/4DseWfvUSEmvXfYyqdcp_boy1.png">
                        <h2>Peter</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                </ion-list>
                <div class="spacer" style="width: 251px; height: 37px;"></div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/EF1IQixST8G4hFddrbKZ_boy1.png">
                        <h2>Sam</h2>
                        <p>This is a good idea</p>
                    </ion-item>
                </ion-list>
                <div class="spacer" style="width: 251px; height: 37px;"></div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/gGFiqxBRFGjCX4CNu5LP_ingineers.jpg">
                        <h2>Peter</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                </ion-list>
                <div class="spacer" style="width: 251px; height: 37px;"></div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/keVUHVOJTaelpf4Bf7o6_boy2.png">
                        <h2>Paul</h2>
                        <p>Ya its totaly good hhhgfuyegyfuegugfeugufy fhgvhfdgyfgbhghgfhdghfghbb</p>
                    </ion-item>
                </ion-list>
                <div id="cricket-markdown8" style="color:#000000;font-size:17px;"></div>
                <div id="cricket-markdown9" style="color:#000000;font-size:17px;"></div>
            </div>
        </div>
        <form class="list">
            <label class="item item-input" name="chat">
                <span class="input-label">Type here</span>
                <input type="text" placeholder="">
            </label>
            <div class="button-bar">
                <button id="cricket-button39" style="border-radius:9px 9px 9px 9px;" class="button button-positive  button-block icon ion-android-happy"></button>
                <button id="cricket-button40" class="button button-positive  button-block button-icon">2</button>
                <button id="cricket-button41" style="border-radius:9px 9px 9px 9px;" class="button button-positive  button-block icon ion-android-send"></button>
            </div>
        </form>
    </ion-content>
</ion-view>