<ion-view title="Cricket Post" hide-back-button="true" id="page9">
<ion-nav-buttons side="right" ng-show="true"  >
<div style="background-color:#e6f9ff " ng-repeat="t in gp">
      <a href="#/page-add-grouppost" ng-click="getid({{gp[$index].id}})" ><button class="button button-icon button-clear ion-compose " ng-click="addPost()" >
      </button></a>
      </div>
</ion-nav-buttons>


   
<ion-content padding="true" class="cards-bg has-header">
       
 <!-- group details in header -->  
         <div style="background-color:#e6f9ff " ng-repeat="x in gp">
                    <img src="http://localhost/test/{{gp[$index].gi}}" width="100%" height="90" style="display: block; margin-left: auto; margin-right: auto;">
                

                <h1 id="cricket-heading1" style="color:#000000;text-align:center;">{{gp[$index].gn}}</h1>

                <div id="cricket-markdown10" style="color:#000000;text-align:center;">
                    <p>{{gp[$index].gd}}
                   <a href="#/page-group-setting" ng-click="getid({{gp[$index].id}})" ><button class="ion-android-settings button-primary button-large button-clear item-right" style="color: #3366ff;padding-top: 0px;padding-left: 310px"></button></a>  </p>
                </div>

        </div>

 <!-- display posts in the sub group-->     
        <table  ng-repeat="x in names track by $index"  ng-switch on="$index % 1">
           <tr>
            <td>
              <div class="list card" style="width: 350px">
                  <div class="item item-body">
                      <ion-list>
                         <div class="item item-avatar" ui-sref="profile">
                          <img src="/img/download (3).jpg">
                          <h2>{{names[$index].name}}</h2>
                          <p>{{names[$index].date}}</p>
                        </div>
                      </ion-list>
                       <div>
                       <a ng-click="getid({{names[$index].id}})" id="cricketPost-button2" >   <img src="http://localhost/test/{{names[$index].image}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"></a>
                      </div>
                                   <div id="cricketPost-markdown6" style="color:#0E0101;text-align:justify;">
                          <p>{{names[$index].description}}</p>
                      </div>
                     
                      
                      <ion-note item-right style="color: #C0C0C0 ">{{names[$index].time}}
                      </ion-note>
                  </div>
              </div>
              </td>
              </tr>
           </table>










</ion-content>

    
</ion-view>
<style>
  .has-header ion-col {
    padding: 10;
  }
</style>