<ion-view title="Edit Card" id="editProfile" style="background-color:#cce6ff;">
  <ion-content padding="true" class="has-header">
    <!--Load all the business card details currently in the database-->
    <a id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block" ng-click="BuissnessCardValues()">Load Current Details</a>
    <!--Provide a form to users to enter the details that want to edit -->
    <ion-item class="item-divider">Professional Details</ion-item>
    <label class="item item-input">
    <span class="input-label">Profession</span>
    <input type="text" placeholder="Your Profession" ng-model="Profession">
    </label>
    <label class="item item-input">
    <span class="input-label">Skills</span>
    <input type="text" placeholder="Skills Based on Profession" ng-model="Skills">
    </label>
    <label class="item item-input">
    <span class="input-label">Awards</span>
    <input type="text" placeholder="Awards Achieved" ng-model="Awards">
    </label>
    <ion-item class="item-divider">Working Place Details</ion-item>
    <label class="item item-input">
    <span class="input-label">Working Place</span>
    <input type="text" placeholder="Name of the working place" ng-model="WorkPlace">
    </label>
    <label class="item item-input">
    <span class="input-label">Address</span>
    <input type="text" placeholder="Address of the working place" ng-model="Address">
    </label>
    <label class="item item-input">
    <span class="input-label">Contact No</span>
    <input type="text"  minlength="10"  maxlength="10" placeholder="Contact details of the working place" ng-model="Contact">
    </label>
    <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email use for working purposes" ng-model="Email">
    </label>
    <label class="item item-input">
    <span class="input-label">working Hours</span>
    <input type="text" placeholder="Your Normal working hours" ng-model="WorkHour">
    </label>
    <a id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block icon ion-checkmark-circled" ng-click="BuissnessCardEdit(Profession,Skills,Awards,WorkPlace,Address,Contact,Email,WorkHour)">Submit</a>
    </form>
  </ion-content>
</ion-view>
