<ion-view title="About ME" id="editProfile" style="background-color:#cce6ff;">
  <ion-content padding="true" class="has-header">
    <a id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block" ng-click="BuissnessCardValues()">Load Current Details</a>
    <ion-item class="item-divider">Professional Details</ion-item>
    <label class="item item-input">
    <span class="input-label">Profession</span>
    <input type="text" placeholder="Your Profession" ng-model="Profession">
    </label>
    <label class="item item-input">
    <span class="input-label">Skills</span>
    <input type="text" placeholder="Skills Based on Profession" ng-model="Skills">
    </label>
    <label class="item item-input">
    <span class="input-label">Awards</span>
    <input type="text" placeholder="Awards Achieved" ng-model="Awards">
    </label>
    <ion-item class="item-divider">Working Place Details</ion-item>
    <label class="item item-input">
    <span class="input-label">Working Place</span>
    <input type="text" placeholder="Name of the working place" ng-model="WorkPlace">
    </label>
    <label class="item item-input">
    <span class="input-label">Address</span>
    <input type="text" placeholder="Address of the working place" ng-model="Address">
    </label>
    <label class="item item-input">
    <span class="input-label">Contact No</span>
    <input type="text" maxlength="10" placeholder="Contact details of the working place" ng-model="Contact">
    </label>
    <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="email" placeholder="Email use for working purposes" ng-model="Email">
    </label>
    <label class="item item-input">
    <span class="input-label">working Hours</span>
    <input type="text" placeholder="Your Normal working hours" ng-model="WorkHour">
    </label>
    <a ui-sref="tabsController2.editProfile" id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block icon ion-checkmark-circled" ng-click="BuissnessCardEdit(Profession,Skills,Awards,WorkPlace,Address,Contact,Email,WorkHour)">Submit</a>
    </form>
  </ion-content>
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box ng-click="change()" does-continue="true" auto-play="true">
    <ion-slide>
      <a class="item " href="#" style="padding:0;margin:0" >
      <img src ="img/ad3.png" width="382px" height="60px" style="padding:0; margin:0"></a>
    </ion-slide>
    <ion-slide>
      <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad2.png" width="382px" height="60px" style="padding:0; margin:0">
      </a>
    </ion-slide>
    <ion-slide>
      <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad1.png" width="382px" height="60px" style="padding:0; margin:0"></a>
    </ion-slide>
  </div>
</ion-view>
