<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--<script id="event-popover.html" type="text/ng-template">

    <ion-popover-view style="height: 230px; border-radius: 5px; ">
      <ion-content >
          <ion-radio ng-model="isChecked" ng-value="interested" ng-checked="check">     Interested</ion-radio>
          <ion-radio ng-model="isChecked" ng-value="going" ng-checked="check">
                    Going</ion-radio>
          <ion-radio ng-model="isChecked" ng-value="notinterested" ng-checked="check"  > 
                    Not Interested</ion-radio>
          <button class="button button-positive " ng-click="closePopover(isChecked)" style="margin:10px;"> Save</button>
      </ion-content>
    </ion-popover-view>
</script>-->

<ion-view title="Events" id="events" style="background-color:#EEEEF1;">

    <ion-content padding="false" class="has-header">
       
        <form class="list"></form>
        <!--<div ng-controller="MyController">           Controls the refresh element within the form-->
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
             <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search events" ng-model="event">
                </label>
                <button class="button button-small" ng-click="searchevent(event)">
                     Search
                </button>
             </div>
                <div class="item item-divider">
                    <label class="item item-input item-select" style="height:30px;">
                        <div class="input-label" >
                            <h2>Upcoming Events</h2>
                        </div>
                        <select ng-model="item " ng-change="show(item)">
                            <option>Upcoming</option>
                            <option>Going</option>
                            <option>Group</option>
                            <option>Sub Groups</option>
                            <option>Past</option>
                        </select>
                    </label>
                </div>

            
                <ion-item  ng-repeat="eventname in eventNames " >
                    <div class="item item-thumbnail-left"  >
                        <img src= {{eventname.image}} ng-click="descriptionpg({{eventname.id}})">
                        <button class="button button-clear button-positive" ng-click="descriptionpg({{eventname.id}})" style="padding:0px ; margin:0px; font-size:18px; ">{{eventname.name}}</button>
                        <p> {{eventname.date}}</p>
                      <!--  <button class="button outline item-icon-right icon ion-calendar" ng-click="openPopover($event)"></button >-->
                    </div>
                </ion-item>

            </ion-list>
        <!--</div>-->
    </ion-content>
</ion-view>