<ion-view title="X" id="EventType">
    <ion-content padding="true" class="has-header">

<form class="list"></form>
        
        <div ng-controller="eventtype">
         <ion-refresher
             pulling-text="Pull to refresh..."
             on-refresh="doRefresh()">
         </ion-refresher>
         <ion-list>

             <div class="item item-divider">
                 Upcoming Events
             </div>

             <ion-item  ng-repeat="eventname in eventNames" > 
             <a class="item item-thumbnail-left" href="#">
                    <img src= {{eventname.image}}>
                    <h2>{{eventname.name}}</h2>
                    <p> {{eventname.date}}</p>
                    
                  
             </a>
             </ion-item>
         </ion-list>
      </ion-content>
    </ion-view>     

 <!--<button class="button outline item-icon-right icon ion-calendar" ng-click="openPopover($event)"></button > -->