<ion-view title="Facebook Profile" style="background-color: white" id="facebookProf">
  <ion-content padding="true" class="has-header">
    <!--Show a message if user is not alredy registered to the business card-->
    <div ng-if="check == -1"><br/>
    <font size="6" color="blue"> <center> Welcome </center> </font> <br/>
    Every User might have a LinkedIn Account as other users can view the Professional details.<br/><br/>
    <font color="purple" size="4">Business Card can be created in two ways.</font><br/>
    1. Customize Manually. <br/>
    2. Import Data from the Linkedin Account.<br/><br/>
    3. Import Data from the Facebook Account.<br/><br/>
    <a ui-sref="tabsController2.settingsB" id="BuissnessCarad-button3" style="font-weight:600;font-size:-2px;" class="button button-royal  button-block ">Create Business Card</a>
    Your Business Card will appear like this
    <center> <img src="img\business.png" width="250px" height="350px"> </center>
    </div>
    <!--Show the businesscard to the registered users with theire professional details-->
    <div ng-if="check == 1" class="list card">
      <div class="item item-body">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
        </div>
        <ion-list>
          <i class="item item-thumbnail">
          <center>
          <img src="{{Picture}}" style="width: 170px; height: 200px">
          </center>
          </i>
          <ion-item class="item-divider">Basic Information</ion-item>
          <div class="item item-icon-left">
            <i class="icon ion-ios-person"></i>
            {{Name}}
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-email"></i>
            {{Email}}
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-transgender"></i>
            {{Gender}}
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-android-hand"></i>
            Age : {{Age}} <br/>
          </div>
          <div class="item item-icon-left" ng-click="FacebookUrl(Link)">
            <i class="icon ion-social-facebook"></i>
            <font color="blue" size="4">Click to View Facebook Profile</font>
          </div>
        </ion-list><br/>
      </div>
    </div>
    <!--List of external links that can be accessed through the Application-->
    <div class="list">
      <ion-item class="item-divider">Other Related Profiles</ion-item>
        <div class="item">
        <a href="#" onclick="window.open('https://www.linkedin.com', '_system', 'location=yes'); return false;">
          <img border="0" src="img/linkedin.png" width="60" height="50" style="margin: 0px 20px">
        </a>
        <a href="#" onclick="window.open('http://www.twitter.com', '_system', 'location=yes'); return false;">
          <img border="0" src="img/twitter-logo.jpg" width="60" height="50" style="margin: 0px 20px">
        </a>
        <a href="#" onclick="window.open('https://plus.google.com', '_system', 'location=yes'); return false;">
          <img border="0" src="img/plushero.jpg" width="60" height="50">
        </a>
        </div>
    </div>
    <a id="BuissnessCarad-button3" style="font-weight:600;font-size:-2px;" class="button button-stable  button-block ion-arrow-up-a" ng-click="show()">
                Select Business Card
    </a>
  </ion-content>
  <!--Show slider with the Advertisement-->
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="8000" ng-if="slide == 1">
      <ion-slide ng-repeat="ban in Banner" ng-click="gotoSlideAdd(ban.IDAdd)">
        <div class="box">
          <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
</ion-view>
