<html>
  <ion-view title="Favourite Advertisement" id="favadd" style="background-color:#cce6ff;">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title>favourite Advertisement List</title>
      <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
      <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    </head>
    <ion-nav-buttons side="right" ng-show="true">
      <button class="button button-icon button-clear ion-ios-monitor-outline"  ui-sref="tabsController2.addlist">
      </button>
    </ion-nav-buttons>
    <body>
      <ion-content>
      <!--Refresh when pull Down -->
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
          <ion-list>
            <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="search" placeholder="Search By Title">
            </label>
          </ion-list><br>
            <!--Show all the advertisement in the list view -->
              <div class="card" ng-repeat="item in items | filter:search">
                <div class="item item-text-wrap">
                  <div class="item-thumbnail">
                    <img src="{{item.Image}}" style="width: 300px; height: 90px">
                  </div>
                  <center><font color="blue">{{ item.Title }}</font></center><br/>
                  {{ item.Description }} <br/><br/>
                  <font color="blue"> Start date : {{ item.StartDate }}</font><br/>
                  <font color="blue"> End date : {{ item.EndDate }}</font><br/><br/>
                  <font color="Green"> Contact details</font><br/>
                  {{ item.ContactNo }} <br/>
                  {{ item.Email }} <br/>
                    <div class="row responsive-sm">
                      <div class="col">
                        <button class="button button-assertive  button-block ion-android-favorite-outline" id="button1" ng-click="deleteFavourite({{ item.AddId }})">
                          Remove from Favourite
                        </button>
                      </div>
                    </div>
                </div>
              </div>
      </ion-content>
    </body>  
  <!--Slider with the Advertisement-->
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="8000" ng-if="slide == 1">
      <ion-slide ng-repeat="ban in Banner" ng-click="gotoSlideAdd(ban.IDAdd)">
        <div class="box">
          <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
  </ion-view>
</html>
