<ion-view title="Follow a group" id="page15" hide-back-button="true" left-buttons="leftButtons" class="bubble-background">


    <ion-content padding="true" class="has-header">

   
  <!-- display sub group details in the header -->     
   <div ng-repeat="x in gp">

 

                    <img src="{{gp[$index].gi}}" style="display: block; margin-left: auto; margin-right: auto;height: 70px;width: 70px;min-height: 70px">
                

                <h1 id="cricket-heading1" style="color:#000000;text-align:center;">{{gp[$index].gn}}</h1>

                <div id="cricket-markdown10" style="color:#000000;text-align:center;">
                    <p>{{gp[$index].gd}}
                    </p>
                </div>
                <a id="followAGroup-button55" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-person-add" ng-click="getid({{gp[$index].id}})" >Follow</a>

        </div>
   
         
 


 <!-- display group member details -->  

<div class="list card">
                  <div class="item item-divider">Members</div>
                        <div class="item item-body">
                            <ion-list>
                                     <table>
                                          <tr ng-repeat="x in names track by $index"  ng-switch on="$index % 1">
                                            <td> 
                                                  <div class="item item-avatar" ng-show='{{names[$index].name}}'>
                                                  <img src="http://teamsoft.tk/images/default.png">
                                                  <h2>{{names[$index].name}}</h2>
                                                            
                                                  </div>
                                                  <div ng-hide="{{names[$index].name}}">
                                                    <h2>No one is currently following this group.</h2>  
                                                    </div>    
                                             </td>
                                             </tr>
                                            
                                    </table>       
                              
                              </ion-list>
                        </div>
                    </div>     
                       
     </ion-list>
  </div>
            
  </div>
  </ion-content>



 <!-- slider -->  

    <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
      
      <ion-slide-box ng-click="change()" does-continue="true" auto-play="true">
    
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" >
         <img src ="img/ad3.png" width="382px" height="70px" style="padding:0; margin:0"></a>
      </ion-slide>
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad2.png" width="382px" height="70px" style="padding:0; margin:0">
        </a>
      </ion-slide>
     <ion-slide>
       <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad1.png" width="382px" height="70px" style="padding:0; margin:0"></a>
     </ion-slide>
    
    

  </div>
</ion-view>