<ion-view title="Football" id="pagefootball">

    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/football.jpg" width="100%" height="90" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="cricket-heading1" style="color:#000000;text-align:center;">Football</h1>
        <div id="cricket-markdown10" style="color:#000000;text-align:center;">
            <p>This group is for football fans in royal collage</p>
        </div>
        <a ui-sref="followAGroup" id="followAGroup-button55" style="border-radius:20px 20px 20px 20px;" class="button button-positive  button-block icon ion-android-person-add" >Follow</a>
      
             <div class="list card">
                <div class="item item-divider">Members</div>
                <div class="item item-body">
                    <ion-list>
                        
                    <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (3).jpg">
                    <h2>Paul Peter</h2>
                   
                  </div>
               
                         <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/ben.png">
                    <h2>Marty Mcfly</h2>
                  
                  </div>
                         <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/adam.jpg">
                    <h2>MarK Kety</h2>
                  
                  </div>
                         <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (5).jpg">
                    <h2>Hanz Pereeson</h2>
                  
                  </div>
                         <div class="item item-avatar" ui-sref="profile">
                    <img src="/img/download (6).jpg">
                    <h2>Nihal Perera</h2>
                  
                  </div>
                    </ion-list>
                </div>
            
        </div>
    </ion-content>
</ion-view>