<ion-view title="My Dashboard" hide-back-button="true" id="grouppost" >
<ion-nav-buttons side="left" ng-show="true"  >
      <button class="button button-icon button-clear ion-calendar " ng-click="addCalendar()" > </button>
 </ion-nav-buttons>
<ion-nav-buttons side="right" ng-show="true"  >
     
       <button class="button button-icon button-clear ion-email" ng-click="addMsg()"  style="padding-right:5px;">
       </button>
       <button class="button button-icon button-clear ion-android-notifications-none " ng-click="addNotif()" >
       </button>
</ion-nav-buttons>

 <!-- add a new post to the batch group-->     
<ion-content padding="true" class="cards-bg has-header">
       <div class="item item-input-inset">
             <table>
                    <tr>
                      <td style="width: 900px">      
                      <label class="item-input-wrapper">
                      <input type="text" placeholder="Say something" ng-model="dis">
                      </label>                     
                      </td>
                    </tr>
                    <tr style="height: 10px"> </tr>
                      <tr>
                        <td>                      
                         <label class="item-input-wrapper">
                         <input type="text" placeholder="Image" ng-model="img">
                         </label>                     
                        </td>
                      </tr>
                    <tr style="height: 10px"> </tr>
                     <tr>
                    <td style="padding-left: 260px">
                    <button class="button button-small icon ion-images"></button>
                    <button class="button button-small icon " ng-click="addpost(dis,img)">POST</button>
                   </td>
                 </tr>
            </table>
       </div>               
    </a>
  </div>
 
       
 <!-- display group posts -->  

<table  ng-repeat="x in names" ng-switch on="$index % 1">
      <tr>
       <td>
              <div class="list card" style="width: 350px">
                  <div class="item item-body">
                      <ion-list>
                         <div class="item item-avatar" ui-sref="profile">
                          <img src="/img/download (3).jpg">
                          <h2>{{names[$index].name}}</h2>
                          <p>{{names[$index].date}}</p>
                        </div>
                      </ion-list>
                      <a id="cricketPost-button2" style="display:block;" ng-click="description({{names[$index].pid}})">
                              <img src="{{names[$index].image}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                          </a>
                                   <div id="cricketPost-markdown6" style="color:#0E0101;text-align:justify;">
                          <p>{{names[$index].description}}</p>
                    </div>
                     
                      
                      <ion-note item-right style="color: #C0C0C0 ">{{names[$index].time}}
                      </ion-note>
                  </div>
              </div>
          </td>
        </tr>
</table>
    </ion-content>

<!--ng-click= "modal.show({{names[$index].pid}})" -->

<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Group Post</h1>
          <button class="button button-clear button-primary" ng-click="modalhide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list card">
            <div class="item item-body" ng-repeat="x in names">
                <ion-list>
                    <div class="item item-avatar" ui-sref="profile">
                   <img src="/img/download (3).jpg">
                    <h2>{{names[$index].uname}}</h2>
                    <p>{{names[$index].date}}</p>
                     <ion-note item-right style="color: #C0C0C0 ">
                   {{names[$index].time}}
                    </ion-note>
                  </div>
                </ion-list>
                <div>
                    <a style="display:block;" >
                        <img src="{{names[$index].image}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </a>
                </div>
                <div id="cricketPost-markdown2" style="color:#0E0101;text-align:justify;">
                    <p>{{names[$index].description}}</p>
                </div>
                <div class="item">
  
                    
                   
 </div>
               
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Comments</div>
                


        <table  ng-repeat="x in comment track by $index"  ng-switch on="$index % 1">
     
            <td>
            <div class="item item-body">
              
                <ion-list>
                     <div class="item item-avatar">
                    <img src="img/ZkVgGracQROJWJljbptq_boy1.png">
                    <h2>{{comment[$index].uname}}</h2>
                    <p>{{comment[$index].comment}} </p>
              
                   <span ng-if="comment[$index].uid == comment[$index].lguser">
       
    
                                    
                    <button class="button button-icon button-clear ion-ios-trash" side="right" style="padding-left: 200px" ng-click="deletecomment({{comment[$index].cid}})">
                         
                        </button>   
                     </span>
                    </div>
              

                   </ion-list>
                
            </div>

                 </td>
    
           </table>
        </div>

        <form class="list">
        <div class="row"> 
            <label class="item item-input" name="chat" style=";border-radius:7px 7px 7px 7px">
           
                <input type="text" data-clear-btn="true" placeholder="Type Here" style=";width: 300px" ng-model="comments">  

            </label>
        <a ng-click="addcomment(comments)"> <button class="ion-icon ion-android-send button-primary button-clear item-left" style="color: #3366ff;padding-top: 10px"> 
                </button></a>
                
            </div>
        </form>
        </ion-content>
      </ion-modal-view>
    </script>




 <!-- slider -->  

<div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
      
      <ion-slide-box ng-click="change()" does-continue="true" auto-play="true">
    
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" >
         <img src ="img/ad3.png" width="382px" height="70px" style="padding:0; margin:0"></a>
      </ion-slide>
      <ion-slide>
        <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad2.png" width="382px" height="70px" style="padding:0; margin:0">
        </a>
      </ion-slide>
     <ion-slide>
       <a class="item " href="#" style="padding:0;margin:0" > <img src ="img/ad1.png" width="382px" height="70px" style="padding:0; margin:0"></a>
     </ion-slide>
    
    

  </div>
    
</ion-view>
<style>
  .has-header ion-col {
    padding: 10;
  }
</style>