<ion-view title="Login with Email" id="login" class="login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img class="overlay" src="img/wood1.png" style="height:220%">

        <div class="row" style="width:100%; margin-bottom:50px">
            <center>
                <div style="padding-top:20%;padding-left:20%">
                    <img src="img/crest.png" style="width:60%; height:60%">
                </div></center>
        </div>


        <form class="list" style="margin-top:100px;" name="f">
            <ion-list >
                
                <label class="item item-input">
                    <span class="input-label" style="color:#fff">Username</span>

                    <input type="text" placeholder="abc@gmail.com" ng-model="email">
                </label>
                
                <label class="item item-input">
                    <span class="input-label" style="color:#fff">Password</span>
                    <input type="password"  ng-model="password">
                </label>


            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
          <div><ul>
  <li ng-repeat='item in items'>dfdxgvxgvx{{ item.title }}</li>
</ul></div>
            <a ng-click="login(email,password)"  id="login-button3" class="button button-stable  button-block"  style="background-color: #000080;color: white">Log in</a>
            <!--<button class="button button-block button-positive" ng-click="fbLogin()"> Login with Facebook</button>
            <a ui-sref="signup" onclick="" id="login-button4" class="button button-positive  button-block regbtn" style="background-color:#ffcc00" >Or create an account</a>-->
            <div class="row">
               <div class="col"><button class="button button-clear button-light" ng-click="#">Forgot Password</button></div>
               <div class="col" style="text-align:right"><button class="button button-clear button-light" ng-click="toSignup()">Signup</button></div>
           </div>
        </form>
        
    </ion-content>
</ion-view>

<!-- ui-sref="tabsController.mainprofile({name:name1  })"-->