<ion-view title="Advertisement Notification" id="notify" style="background-color:#cce6ff;">
  <ion-content padding="true" class="has-header">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <!--Clears all the notifications showing-->
  <a id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block" ng-click="ClearNotifications()">Clear Notifications</a>
    <!--Show all the notifications regards to the Advertisements-->
    <ion-list>
      <div class="card" ng-repeat="notification in notifications">
        <div class="item item-divider">
          {{notification.ATitle}}
        </div>
        <div class="item item-text-wrap" style="color: blue" ng-if="notification.status == 1">
          {{notification.Notification}}
        </div>
        <div class="item item-text-wrap" style="color: red" ng-if="notification.status == -1">
          {{notification.Notification}}
        </div>
        <div class="item item-divider">
          {{notification.ADate}}
        </div>
      </div>
    </ion-list><br/>
  </ion-content>
  <!--Show slider with the Advertisement-->
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="8000" ng-if="slide == 1">
      <ion-slide ng-repeat="ban in Banner" ng-click="gotoSlideAdd(ban.IDAdd)">
        <div class="box">
          <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
</ion-view>