

<ion-view title="Notifications" id="page2" style="background-color:#d9d9d9;" ng-app="app">

   
  <ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon ion-arrow-left-b" ui-sref="tabsController.grouppost">
    </button>
    </ion-nav-buttons>



<ion-content padding="true" class="has-header">
                 
                      
                           
                                     <table>
                                          <tr ng-repeat="x in names track by $index"  ng-switch on="$index % 1" ng-show='{{names[$index].count}}'>
                                            <td ng-switch-when="0"> 
                                              <div class="item item-body" style="width: 355px;">
                                             <div ng-show="{{names[$index].image}}">
                                             <a class="button button-icon icon" href="#/page-follow-cricket" style="font-size:12px; color: #004d4d" ng-click="getid(names[$index].gid,names[$index].nid)">
          <img src="{{names[$index].image}}" style="height: 40px;width: 40px;min-height: 40px"></div>     Admin newly created {{names[$index].grpname}} group.
        </a> 
                                              </div>
                                                           
                                                 <p></p>        
                                             </td>
                                         </tr>
                                    </table>       
                              
                             
                        </div>
                    </div>     
                       
     </ion-list>
  </div>
            
 
  </ion-content>
</ion-view>