<ion-view title="About ME" id="notify" style="background-color:#cce6ff;">
  <ion-content padding="true" class="has-header">

  </ion-content>
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box does-continue="true" auto-play="true">
      <ion-slide ng-repeat="ban in Banner">
        <div class="box">
          <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
</ion-view>