<ion-view title="Advertisement Details" id="pendingAddDetail">
  <ion-content padding="true" class="has-header">
    <!--Show the desired Advertisement-->
    <div class="list card">
      <div class="item">
        <h2> <font color="blue"><center> {{title}} </center></font></h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{Image}}">
        <p><font color="black">{{Description}}</font></p>
        <p><font color="black">Type of the Advertisement : {{Selection}} </font></p><br>
        <font color="green"><center>Contact Details</center></font>
        <font color="black">
        <p><font color="black">Contact No : {{Contact}}</font> </p>
        <p><font color="black">Email : {{Email}}</font> </p>
        </font>
      </div>
        <span>
          <p>
          <h5> <font color="red">Recieved On : {{sendDate}} </font></h5>
          </p>
        </span>
    </div>
  </ion-content>

    <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;">
      <ion-slide-box does-continue="true" auto-play="true" ng-if="slide == 1">
       <ion-slide ng-repeat="ban in Banner" ng-click="gotoSlideAdd(ban.IDAdd)">
      <div class="box">
      <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
      </div>
      </ion-slide>
      <ion-slide>
      <div class="box">
      <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
      </div>
      </ion-slide>
      </ion-slide-box>
  </div>

    <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;">
      <ion-slide-box does-continue="true" auto-play="true" ng-if="slideSpecial == 1">
       <ion-slide ng-repeat="bansp in BannerSpecial" ng-click="gotoSlideAdd(bansp.IDAdd)">
      <div class="box">
      <img src="{{bansp.Image}}" width="382px" height="70px" style="padding:0; margin:0">
      </div>
      </ion-slide>
      <ion-slide>
      <div class="box">
      <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
      </div>
      </ion-slide>
      </ion-slide-box>
  </div>
</ion-view>