<ion-view title="Slider Add" id="pendingAddDetail">
  <ion-content padding="true" class="has-header">
    <!--Show the desired Advertisement-->
    <div class="list card">
      <div class="item">
        <h2> <font color="blue"><center> {{title}} </center></font></h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{Image}}">
        <p><font color="black">{{Description}}</font></p>
        <p><font color="black">Type of the Advertisement : {{Selection}} </font></p><br>
        <font color="green"><center>Contact Details</center></font>
        <font color="black">
        <p><font color="black">Contact No : {{Contact}}</font> </p>
        <p><font color="black">Email : {{Email}}</font> </p>
        </font>
      </div>
        <span>
          <p>
          <h5> <font color="red">Recieved On : {{sendDate}} </font></h5>
          </p>
        </span>
    </div>
  </ion-content>
</ion-view>