<ion-view title="About ME" id="sendAdd" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <!--Form to enter advertisement details to sent to the Admin-->
    <div class="list">
      <label class="item item-input item-floating-label">
      <span class="input-label">Title</span>
      <input type="text" placeholder="Title" ng-model="title">
      </label>
      <label class="item item-select">
        <span class="input-label">Select Type</span>
        <select ng-model="Selected" ng-required="true">
          <option>Event</option>
          <option>Merchent</option>
          <option>Promote</option>
          <option>Notice</option>
        </select>
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Banner</span>
      <input type="file" ng-model="Image" ng-required="true" placeholder="Browse The Banner">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Description</span>
      <input type="text" placeholder="Description" ng-model="description">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Contact No</span>
      <input type="text" placeholder="Contact No" ng-model="contact">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="email" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Start Date</span>
      <input type="date" ng-model="SDate" min="2016-06-15" ng-required="true" date-format="yyyy-MM-dd"/>
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">End Date</span>
      <input type="date" ng-model="EDate" min="2016-06-15" ng-required="true">
      </label>
      <a ui-sref="tabsController2.sendAdd" id="postAdvertiesement-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block icon ion-ios-paperplane-outline" ng-click="sendAdvertiesement(title,Selected,Image,description,contact,email,SDate,EDate)">Send</a>
    </div>
  </ion-content>
</ion-view>
