<ion-view title="Slider Add" id="slideAdd">
  <ion-content padding="true" class="has-header">
    <!--Show the desired Advertisement-->
    <div class="list card">
      <div class="item item-avatar">
        <h2>{{Title}}</h2>
      </div>
      <p>Type : {{Selected}} </p>
      <div class="item item-body">
        <img class="full-image" src="{{Image}}">
        <span>
          <p>
          <h5> <font color="red">Published On : {{CurrentDate}} </font></h5>
          </p>
        </span>
        <p>
          {{Description}}
        <p>Contact No : {{Contact}} </p>
        <p>Email : {{Email}} </p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>