<ion-view title="Slider Add" id="slideAdd">
  <ion-content padding="true" class="has-header">
    <!--Show the desired Advertisement-->
    <div class="list card">
      <div ng-if="mem==1">
        <div class="item" ng-if="check==0">
          <a id="BuissnessCarad-button3" style="font-weight:600;font-size:-2px;" class="button icon-left ion-star button-positive" ng-click="favourite()">
                  Add to favourite
          </a>
        </div>
        <div class="item" ng-if="check==1">
          <a id="BuissnessCarad-button3" style="font-weight:600;font-size:-2px;" class="button icon-left ion-star button-positive" ng-click="favouriteRemove()">
                  Remove from favourite
          </a>
        </div>
      </div>
      <div class="item">
        <h2> <font color="blue"><center> {{Title}} </center></font></h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{Image}}">
        <p><font color="black">{{Description}}</font></p>
        <p><font color="black">Type of the Advertisement : {{Selected}} </font></p><br>
        <font color="green"><center>Contact Details</center></font>
        <font color="black">
        <p><font color="black">Contact No : {{Contact}}</font> </p>
        <p><font color="black">Email : {{Email}}</font> </p>
        </font>
      </div>
        <span>
          <p>
          <h5> <font color="red">Published On : {{CurrentDate}} </font></h5>
          </p>
        </span>
    </div>
  </ion-content>
</ion-view>