<ion-view title="Special Occasion Templates" id="createbday" style="background-color:#EEEEF1;">
	<ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon button-clear ion-arrow-left-b" ng-click="navigate()">
    Back</button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
    	
    <div class="list card">
      <div ng-show="showBit">
      <button class="button button-block button-assertive ion-check"  >APPLIED</button></div>
      <div class="item">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Template Title</span>
        <input type="text" placeholder="Default" name="title" ng-model="title">
      </label>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://teamsoft.tk/images/{{img}}">
      <label class="item item-input item-stacked-label" cache-view="false">
        <span class="input-label">Special Occasion wish</span>
        <input type="text" placeholder="Happy Birthday" name="wish" ng-model="wish">
      </label>

        <div class="item">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" name="date2" ng-model="date2">
      </label>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Add an image" name="image" ng-model="image">
        </label>
          <button class="button ion-images"></button>
      </div>

       <button class="button button-block button-positive" ng-click="saveTemplate(title,wish,image,date2)">
           Save Changes
        </button>
        <button class="button button-block button-positive" ng-click="deleteTemplate()">
           Delete this Template
        </button>
       <button class="button button-block button-assertive" ng-click="changeTemplate()">
           Choose this Template
        </button>
    </div>
  	</div>	

    </ion-content>
 </ion-view>