

<ion-view title="Theme Settings" id="theme">
  <ion-content padding="true" class="has-header"  style="background-color:{{backcolor}};">
    <h3 id="themeSettings-heading1" style="color:{{textcolor}}; text-align: center;">Themes</h3>
    <form class="list">
    <ion-list>
      <ion-radio >Blue and Gold</ion-radio>
      <ion-radio >Black and White</ion-radio>
      <ion-radio>White and Blue</ion-radio>
      </ion-list>
      <button class="button button-block button-positive" style="background-color: {{textcolor}}; color:{{backcolor}}" ng-click="changecolor()">
  Apply
</button>

    </form>
  </ion-content>
</ion-view>
