<ion-view title="Post" id="timelineupload">
   
    <button class="button button-icon button-clear ion-arrow-left-b" ng-click="navigate()">
    Back</button>
   
  <ion-pane>
    <ion-header-bar class="bar-positive">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
    
      <img ng-src="{{pathForImage(image)}}" style="width: 100%; height: 100%;">
    </ion-content>
    
  <div class="item item-divider">
                    
                      </div>
      <label class="item item-input">
                    <input type="text" placeholder="say something" ng-model="title" name="title">
                    
                </label>
                
    <ion-footer-bar class="bar bar-positive">
    
    
              
      <div class="button-bar">
      
     

        <button class="button icon-left ion-camera" ng-click="loadImage()">Take Photo</button>
        <button class="button icon-left ion-upload" ng-click="uploadImage(title)" ng-disabled="image === null">Upload</button>
       
      </div>
      
     
    </ion-footer-bar>
 
  </ion-pane>
  </ion-view>