<ion-view title="My Profile" id="timeline" cache-view="false">
    <ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon button-clear ion-arrow-left-b" ng-click="navigate()">
    Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
           
                
              <a class="button button-outline button-positive button-block" ui-sref="timelineupload"> POST </a>
            
              <div class="item item-divider">
              Timeline
              </div>
                <ion-item class="item" ng-repeat="x in timeline"> 
                <p>
                {{x.title}}
                {{x.time}}
                </p>
                <img class="full-image" src="http://teamsoft.tk/{{x.image}}">
                <button class="button button-outline  button-assertive button-block" ng-click="deletepost({{x.id}})">
                Delete
                </button>
          
        </ion-item>
        
        </ion-list>
     </ion-content>
</ion-view>