<ion-view title="About ME" id="ueditProfile" style="background-color:#cce6ff;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-divider">Personal Details</ion-item>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="Name You Want to Show in Your Buissness Card">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact No</span>
                <input type="tel" placeholder="Contact You Want to Show in Your Buissness Card">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email You Want to Show in Your Buissness Card">
            </label>
            <ion-item class="item-divider">Professional Details</ion-item>
            <label class="item item-input">
                <span class="input-label">Profession</span>
                <input type="text" placeholder="Your Profession">
            </label>
            <label class="item item-input">
                <span class="input-label">Skills</span>
                <input type="text" placeholder="Skills Based on Profession">
            </label>
            <ion-item class="item-divider">Working Place Details</ion-item>
            <label class="item item-input">
                <span class="input-label">Working Place</span>
                <input type="text" placeholder="Name of the working place">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Address of the working place">
            </label>
            <label class="item item-input">
                <span class="input-label">Contact No</span>
                <input type="text" placeholder="Contact details of the working place">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email use for working purposes">
            </label>
            <label class="item item-input">
                <span class="input-label">working Hours</span>
                <input type="text" placeholder="Your Normal working hours">
            </label>
              <a ui-sref="tabsController2_1.ushowAdvertiesement" id="editProfile-button1" style="font-weight:600;font-size:-2px;" class="button button-calm  button-block icon ion-checkmark-circled">Submit</a>
        </form>
    </ion-content>
</ion-view>