<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="controllers.js"></script>
<ion-view title="Show Advertiesement" id="ushow" style="background-color:#d9d9d9;" ng-app="app">
  <ion-nav-buttons side="left" ng-show="true">
    <button class="button button-icon ion-arrow-left-b" ui-sref="AdmintabsController.mainprofile">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" ng-show="true">
    <button class="button button-icon button-clear ion-edit" ui-sref="AdmintabsController.upost">
    </button>
    <button class="button button-icon button-clear ion-android-list" ui-sref="AdmintabsController.readd">
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-controller="showAdvertiesementCtrl">
      <ion-list>
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search" placeholder="Search By Title">
        </label>
        <ion-item class="item item-avatar" ui-sref="AdmintabsController.ufullEditShow" ng-repeat="add in advertiesement | filter:search" ng-click="gotoFullEditShow(add.IDAdd)">
        <img src="{{add.Image}}">
        <h2>{{add.Title}} </h2>
        <p>{{add.Description}}</p>
        <span>
          <p>
          <h5><font color="red">Published On : {{add.CDate}}</font></h5>
          </p>
        </span>
      </ion-list>
    </div>
  </ion-content>
  <div  ng-controller="slider" style="position: absolute;  bottom: 30px; width: 100%; padding:0;margin:0;" >
    <ion-slide-box does-continue="true" auto-play="true">
      <ion-slide ng-repeat="ban in Banner" ng-click="gotoSlideAdd(ban.IDAdd)">
        <div class="box">
          <img src="{{ban.Image}}" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src ="img/advertise.jpg" width="382px" height="70px" style="padding:0; margin:0">
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
</ion-view>
