<ion-view title="Welcome" id="welcome">
    <ion-content overflow-scroll="true" padding="true" class="has-header" >
    <img class="overlay" src="img/wood1.png">
    <form class="list" style="margin-top:100px;" name="f">

    	<a class="button button-block icon-left ion-social-google button-assertive" ng-click="googleLogin()">
				Login with Google
    	</a>

        <button class="button button-block icon-left ion-social-facebook button-positive" ng-click="fbLogin()"> 
        		Login with Facebook
        </button>
        <center style=" margin-top:20px; margin-bottom:10px;"><span style="color:#fff; " > OR </span></center>
        <hr  style="margin-bottom:20px;">
        <div class="row">
  			<div class="col"><a ui-sref="signup" onclick="" id="login-button4" class="button button-positive  button-block regbtn" style="background-color:#ffcc00" >Sign Up</a>
  			</div>
  			<div class="col"><a ui-sref="login" class="button button-positive button-block ">Login</a>
  			</div>
        </div>
        </form>
    </ion-content>
</ion-view>
