<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/addAdvertiesement.js"></script>
  </head>
  <body ng-app="AddAdver" ng-controller ="addAdvertiesement">

    <ion-pane>
      <ion-header-bar class="bar-dark ">
        <h3 class="title">Post Your Advertiesement</h3>
      </ion-header-bar><br>
        <ion-content>
        <div class="list">
    <label class="item item-input item-select">
    <div class="input-label">
      Addvertiesement Type
    </div>
    <select>
      <option selected>Promotion</option>
      <option>Event</option>
      <option>Murchant</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" ng-model="user.title" placeholder="Enter the title">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Image</span>
    <input type="text" ng-model="user.image" placeholder="Upload your image here">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
    <textarea ng-model="user.description" placeholder="Enter some brief information about the Advertiesement"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contact No</span>
    <input type="text" ng-model="user.contact" placeholder="Enter a contact no which you want to publish">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Email Address</span>
    <input type="text" ng-model="user.email" placeholder="Enter a Email address which you want to publish">
  </label>  
</div>
      <center><button class="button button-positive" data-ng-click="insertData()" value="submit">
  Submit
  </button></center>
      </ion-content>
      <div class="tabs tabs-icon-only">
      <a class="tab-item" href="index.html">
    <i class="icon ion-home"></i>
  </a>
    <a class="tab-item" href="profession.html">
    <i class="icon ion-person-add"></i>
  </a>
  <a class="tab-item" href="search.html">
    <i class="icon ion-android-search"></i>
  </a>
    <a class="tab-item" href="addAdvertiesement.html">
    <i class="icon ion-android-add-circle"></i>
  </a>
  <a class="tab-item" href="buissnessCard.html">
    <i class="icon ion-card"></i>
  </a>
</div>
    </ion-pane>
  </body>
</html>
